
# Ignore db.sqlite3
db.sqlite3
# *.sqlite3
# /db.sqlite3
*.log

**/__pycache__/

media/*
media

# Ignore all SQLite database files
*.sqlite3

# venv
env
venv

/authentication/pycache
/authentication/migrations

/department_and_events/pycache
/department_and_events/migrations